<form class="flex-display column" id="backup-token-form" action="{% url 'verify-backup-token' %}" method="post">
    {% csrf_token %}
    <input type="text" name="backup_token" id="backup-token-input" placeholder="Enter Backup Code">
    <br>
    <button type="submit" class="button">Verify Backup Code</button>
    <p id="verify-feedback-message" style="font-weight: bold; width: 100%; text-align: center"></p>
</form>
<script>
    $("#backup-token-form").submit(function (event) {
        event.preventDefault();
        const backupToken = $("#backup-token-input").val().trim();

        $.ajax({
            url: "{% url 'verify-backup-token' %}",
            type: "POST",
            data: { backup_token: backupToken },
            headers: { "X-CSRFToken": "{{ csrf_token }}" },
            success: function (response) {
                window.location.href = "/";
            },
            error: function () {
                $('#verify-feedback-message').text("Invalid backup token. Please try again.");
            }
        });
    });
</script>
