*.pem
/.commands
.env
/.idea/
red-shell-recruiting.iml
.env.prod
.env.dev
/staticfiles/
/reporting-sync-server.sock
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
/terraform/.terraform/
