red-shell-recruiting-prod.pem
/.commands
.env
/.idea/
red-shell-recruiting.iml
.env.prod
/staticfiles/
/reporting-sync-server.sock
terraform.tfstate.backup
terraform.tfstate
.terraform.lock.hcl
/terraform/.terraform/
