{% extends '_base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    Candidate Input
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}?n={% css_invalidate_int %}">
{% endblock %}
{% block content %}
    <div style="max-width:1000px; width: 100%; margin: 0 auto; margin-top: 1rem;">
        <form class="section" action="{% url 'candidate-submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin-bottom: 1rem">
                <h1>Enter Candidate</h1>
                <hr>
            </div>
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <div class="{{ message.tags }} alert-dismissible fade show" role="alert" style="position: relative;">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="field-set " >
                <div style="width: 100%; margin-bottom: 1rem; position: relative">
                    <input tabindex="1" required name="candidate-first-name" style="border-bottom: 1px solid var(--ui-support-element-color)" id="candidate-first-name" type="text" class="text-input" placeholder="First Name" autocomplete="off">
                    <input required name="candidate-last-name" tabindex="2" style="border-bottom: 1px solid var(--ui-support-element-color)" id="candidate-last-name" type="text" class="text-input" placeholder="Last Name" autocomplete="off">
                    {% include 'red_shell_recruiting/components/state_dropdown_component.html' %}
                    {% include 'red_shell_recruiting/components/city_dropdown_component.html' %}
                    <div tabindex="4">
                        {% include 'red_shell_recruiting/components/title_dropdown_component.html' %}
                    </div>
                </div>
                <div style="width: 100%; margin-bottom: 1rem">
                    <input required tabindex="5" name="candidate-phone-number" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-phone-number" type="tel" placeholder="Phone Number" autocomplete="off">
                    <input required tabindex="6" name="candidate-email" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-email" type="email" placeholder="Email" autocomplete="off">
                    <input tabindex="7" name="candidate-compensation" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-compensation" type="number" placeholder="Compensation" autocomplete="off">
                    <div class="flex-display align-baseline column  flex-start toggle-container">
                        <label class="toggle  vertical-align justify-center">
                            <input name="candidate-looking" id="candidate-looking" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Actively Looking</span>
                        </label>
                        <label class="toggle  vertical-align justify-center">
                            <input name="candidate-relocation" id="candidate-relocation" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Open to relocation</span>
                        </label>
                        <label class="toggle  vertical-align justify-center">
                            <input name="candidate-working" id="candidate-working" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Currently working</span>
                        </label>
                        <label class="toggle flex-display vertical-align justify-center">
                            <input name="client-placement" id="client-placement" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Previously Placed</span>
                        </label>
                        <br>
                        <div id="client-placement-toggle-wrapper" style="display: none;" class="flex-display column w-100">
                            {% include 'red_shell_recruiting/components/candidate_placement_dropdown_component.html' %}
                            <div class="flex-display vertical-align justify-center">
                                <input name="client-placement-month" tabindex="8" style="border-bottom: 1px solid var(--ui-support-element-color); margin-right: 1rem;" id="client-placement-month" type="number" class="text-input" placeholder="Month" autocomplete="off" min="1" max="12">
                                <input name="client-placement-year" tabindex="9" style="border-bottom: 1px solid var(--ui-support-element-color)" id="client-placement-year" type="number" class="text-input" placeholder="Year" autocomplete="off" min="1900" max="2100">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <textarea tabindex="8" name="candidate-notes" style="border: 1px solid var(--ui-support-element-color); height: 200px; padding: 0.5rem;" class="text-input" id="candidate-notes" type="text" placeholder="Notes" autocomplete="off"></textarea>
            <hr>
            <div class="flex-display space-between vertical-align space-between" style="width: 100%">
                <div class="flex-display" style="margin-right:3rem;">
                    <input required style="display: none;" type="file" id="resume" name="candidate_resume" accept=".pdf, .doc, .docx">
                    <div class="vertical-divider" style="height: var(--std-item-height)"></div>
                    <button type="button" class="button" onclick="document.getElementById('resume').click();">Upload Resume</button>
                    <div style="margin-left: 1rem;" id="file-name"></div>
                    <div id="resume-warning" style="display:none; color:red; margin-top:5px;">Please upload a resume before submitting.</div>
                </div>
                <button id="submit-btn" type="submit" class="button">Submit Candidate</button>
            </div>
        </form>
    </div>
    <script>

        $(document).ready(function() {
            SubmitCandidate();
        });

    </script>
{% endblock %}
