{% extends 'base.html' %}
{% load static %}
{% block title %}
    Candidate Input
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}">
{% endblock %}
{% block content %}
    <div style="max-width:1000px; width: 50%; margin: 0 auto; margin-top: 4rem;">
        <form class="section" action="{% url 'candidate-submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin-bottom: 2rem">
                <h1>Enter Candidate</h1>
                <hr>
            </div>
            <div class="field-set flex-display" style="column-gap: 2rem">
                <div style="width: 50%; margin-bottom: 1rem; position: relative">
                    <input tabindex="1" required name="candidate-first-name" style="border-bottom: 1px solid var(--ui-support-element-color)" id="candidate-first-name" type="text" class="text-input" placeholder="First Name" autocomplete="off">
                    <input required name="candidate-last-name" tabindex="2" style="border-bottom: 1px solid var(--ui-support-element-color)" id="candidate-last-name" type="text" class="text-input" placeholder="Last Name" autocomplete="off">
                    <div class="flex-display" style="margin-bottom: 1rem; position: relative">
                        <div tabindex="3" class="custom-dropdown" style="border-bottom: 1px solid var(--ui-support-element-color)">
                            <div class="flex-display space-between">
                                <div class="selected-option" id="state-dropdown">Select a State</div>
                                <span class="chevron-down">
                                    {% include 'red_shell_recruiting/components/svg_components.html' with type='chevron-down' %}
                                </span>
                                    <span class="chevron-up" style="display: none;">
                                    {% include 'red_shell_recruiting/components/svg_components.html' with type='chevron-up' %}
                                </span>
                            </div>
                            <ul class="dropdown-list" id="state-list">
                                <li class="option placeholder" data-value="">Select a State</li>
                                <li class="option" data-value="AL">Alabama</li>
                                <li class="option" data-value="AK">Alaska</li>
                                <li class="option" data-value="AZ">Arizona</li>
                                <li class="option" data-value="AR">Arkansas</li>
                                <li class="option" data-value="CA">California</li>
                                <li class="option" data-value="CO">Colorado</li>
                                <li class="option" data-value="CT">Connecticut</li>
                                <li class="option" data-value="DE">Delaware</li>
                                <li class="option" data-value="FL">Florida</li>
                                <li class="option" data-value="GA">Georgia</li>
                                <li class="option" data-value="HI">Hawaii</li>
                                <li class="option" data-value="ID">Idaho</li>
                                <li class="option" data-value="IL">Illinois</li>
                                <li class="option" data-value="IN">Indiana</li>
                                <li class="option" data-value="IA">Iowa</li>
                                <li class="option" data-value="KS">Kansas</li>
                                <li class="option" data-value="KY">Kentucky</li>
                                <li class="option" data-value="LA">Louisiana</li>
                                <li class="option" data-value="ME">Maine</li>
                                <li class="option" data-value="MD">Maryland</li>
                                <li class="option" data-value="MA">Massachusetts</li>
                                <li class="option" data-value="MI">Michigan</li>
                                <li class="option" data-value="MN">Minnesota</li>
                                <li class="option" data-value="MS">Mississippi</li>
                                <li class="option" data-value="MO">Missouri</li>
                                <li class="option" data-value="MT">Montana</li>
                                <li class="option" data-value="NE">Nebraska</li>
                                <li class="option" data-value="NV">Nevada</li>
                                <li class="option" data-value="NH">New Hampshire</li>
                                <li class="option" data-value="NJ">New Jersey</li>
                                <li class="option" data-value="NM">New Mexico</li>
                                <li class="option" data-value="NY">New York</li>
                                <li class="option" data-value="NC">North Carolina</li>
                                <li class="option" data-value="ND">North Dakota</li>
                                <li class="option" data-value="OH">Ohio</li>
                                <li class="option" data-value="OK">Oklahoma</li>
                                <li class="option" data-value="OR">Oregon</li>
                                <li class="option" data-value="PA">Pennsylvania</li>
                                <li class="option" data-value="RI">Rhode Island</li>
                                <li class="option" data-value="SC">South Carolina</li>
                                <li class="option" data-value="SD">South Dakota</li>
                                <li class="option" data-value="TN">Tennessee</li>
                                <li class="option" data-value="TX">Texas</li>
                                <li class="option" data-value="UT">Utah</li>
                                <li class="option" data-value="VT">Vermont</li>
                                <li class="option" data-value="VA">Virginia</li>
                                <li class="option" data-value="WA">Washington</li>
                                <li class="option" data-value="WV">West Virginia</li>
                                <li class="option" data-value="WI">Wisconsin</li>
                                <li class="option" data-value="WY">Wyoming</li>
                            </ul>
                        </div>
                        <div class="spinner-wrapper" style="top:12px; left: calc(100% - 14%)">
                            <div class="simple-spinner"></div>
                        </div>
                    </div>
                    <div class="custom-dropdown" style="border-bottom: 1px solid var(--ui-support-element-color); margin-bottom: 1rem; display: none;" id="city-dropdown-wrapper">
                        <div class="flex-display space-between">
                            <div class="selected-option" id="city-dropdown">Select a City</div>
                            <span class="chevron-down">
                                    {% include 'red_shell_recruiting/components/svg_components.html' with type='chevron-down' %}
                                </span>
                            <span class="chevron-up" style="display: none;">
                                {% include 'red_shell_recruiting/components/svg_components.html' with type='chevron-up' %}
                            </span>
                        </div>
                        <ul class="dropdown-list" id="city-list">
                            <li class="option placeholder" data-value="">Select a City</li>
                        </ul>
                        <input required type="hidden" name="candidate-state" id="state-hidden">
                        <input required type="hidden" name="candidate-city" id="city-hidden">
                    </div>
                    <input tabindex="4" required name="candidate-job-title" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-job-title" type="text" placeholder="Job Title" autocomplete="off">
                </div>
                <div style="width: 50%; margin-bottom: 1rem">
                    <input required tabindex="5" name="candidate-phone-number" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-phone-number" type="tel" placeholder="Phone Number" autocomplete="off">
                    <input required tabindex="6" name="candidate-email" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-email" type="email" placeholder="Email" autocomplete="off">
                    <input tabindex="7" name="candidate-compensation" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-compensation" type="number" placeholder="Compensation" autocomplete="off">
                    <div class="align-baseline column flex-display flex-start toggle-container">
                        <label class="toggle flex-display vertical-align justify-center">
                            <input name="candidate-looking" id="candidate-looking" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Actively Looking</span>
                        </label>
                        <label class="toggle flex-display vertical-align justify-center">
                            <input name="candidate-relocation" id="candidate-relocation" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Open to relocation</span>
                        </label>
                        <label class="toggle flex-display vertical-align justify-center">
                            <input name="candidate-working" id="candidate-working" class="toggle-checkbox" type="checkbox">
                            <div class="toggle-switch"></div>
                            <span>Currently working</span>
                        </label>
                    </div>
                </div>
            </div>
            <textarea tabindex="8" required name="candidate-notes" style="border: 1px solid var(--ui-support-element-color); height: 200px; padding: 0.5rem;" class="text-input" id="candidate-notes" type="text" placeholder="Notes" autocomplete="off"></textarea>
            <hr>
            <div class="flex-display space-between">
                <div class="flex-display vertical-align" style="margin-right:3rem;">
                    <input required style="display: none;" type="file" id="resume" name="candidate_resume" accept=".pdf, .doc, .docx">
                    <div class="vertical-divider" style="height: var(--std-item-height)"></div>
                    <button type="button" class="button" onclick="document.getElementById('resume').click();">Upload Resume</button>
                    <div style="margin-left: 1rem;" id="file-name"></div>
                </div>
                <button id="submit-btn" type="submit" class="button">Submit Candidate</button>
            </div>
        </form>
    </div>
    <script>

        $(document).ready(function() {
            $('.custom-dropdown').click(function(event) {
                const dropdownList = $(this).find('.dropdown-list');
                const chevronDown = $(this).find('.chevron-down');
                const chevronUp = $(this).find('.chevron-up');

                event.stopPropagation();

                if (dropdownList.is(':visible')) {
                    dropdownList.hide();
                    chevronDown.show();
                    chevronUp.hide();
                } else {
                    dropdownList.show();
                    chevronDown.hide();
                    chevronUp.show();
                }
            });

            $(document).click(function(event) {
                if (!$(event.target).closest('.custom-dropdown').length) {
                    $('.dropdown-list').hide();
                    $('.chevron-down').show();
                    $('.chevron-up').hide();
                }
            });

            $('#submit-btn').click(function(event) {

                const state = $('#state-hidden').val();
                const city = $('#city-hidden').val();

                if (!state || !city) {
                    event.preventDefault();
                    alert('Please select both a State and a City.');
                    return false;
                }

                const phone = $('#candidate-phone-number').val().trim();
                const email = $('#candidate-email').val().trim();

                const phoneDigits = phone.replace(/\D/g, '');
                if (phoneDigits.length < 10 || phoneDigits.length > 15) {
                    event.preventDefault();
                    alert('Please enter a valid phone number.');
                    return false;
                }

                const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
                if (!emailRegex.test(email)) {
                    event.preventDefault();
                    alert('Please enter a valid email address.');
                    return false;
                }

            });

            $('#candidate-phone-number').on('input', function() {
                let input = $(this).val();
                input = input.replace(/\D/g, '');

                if (input.length > 3 && input.length <= 6) {
                    input = input.slice(0,3) + '-' + input.slice(3);
                } else if (input.length > 6) {
                    input = input.slice(0,3) + '-' + input.slice(3,6) + '-' + input.slice(6,10);
                }

                $(this).val(input);
            });

            $('#state-list').on('click', '.option', function(event) {
                event.stopPropagation();
                const state = $(this).data('value');
                const stateName = $(this).text();

                $('#state-dropdown').text(stateName);
                $('#state-hidden').val(state);

                $(this).closest('.dropdown-list').hide();
                $(this).closest('.custom-dropdown').find('.chevron-down').show();
                $(this).closest('.custom-dropdown').find('.chevron-up').hide();

                populateCities(state);
            });

            $('#city-list').on('click', '.option', function(event) {
                event.stopPropagation();
                const city = $(this).data('value');
                const cityName = $(this).text();

                $('#city-dropdown').text(cityName);
                $('#city-hidden').val(city);

                $(this).closest('.dropdown-list').hide();
                $(this).closest('.custom-dropdown').find('.chevron-down').show();
                $(this).closest('.custom-dropdown').find('.chevron-up').hide();
            });

            function populateCities(state) {
                $('.spinner-wrapper').show();
                $('.simple-spinner').show();

                $('#city-list').empty();
                $('#city-list').append('<li class="option placeholder" data-value="">Select a City</li>');

                const apiKey = 'darren101587';
                const geocodeUrl = `https://secure.geonames.org/searchJSON?formatted=true&lang=en&country=US&adminCode1=${state}&maxRows=500&username=${apiKey}`;

                $.get(geocodeUrl, function(data) {
                    const cities = data.geonames.sort(function(a, b) {
                        return a.name.localeCompare(b.name);
                    });

                    cities.forEach(function(city) {
                        $('#city-list').append(`<li class="option" data-value="${city.name}">${city.name}</li>`);
                    });

                    $('.spinner-wrapper').hide();
                    $('#city-list').show();
                    $('#city-dropdown-wrapper').show();
                }).fail(function() {
                    alert('Error fetching cities.');
                    $('.spinner-wrapper').hide();
                });
            }

            $('#resume').on('change', function() {
                var fileName = $(this).val().split('\\').pop();
                $('#file-name').text(fileName);
            });
        });

    </script>
{% endblock %}
