{% extends '_base.html' %}
{% load static %}
{% load tags %}
{% load filters %}
{% block title %}
    Candidate Search
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}?n={% css_invalidate_int %}">
{% endblock %}
{% block content %}
    <div>
        <div style="margin: 0 auto; width: 1000px;">
            <form method="get" action="{% url 'candidate-search' %}" style="width: 100%;">
                <div class="section flex-display vertical-align space-between" style="width: 100%;">
                    <div class="flex-display column space-between" style="width: 230px;">
                        <div class="flex-display vertical-align space-between" style="width: 100%; margin-bottom: 0.5rem;">
                            <span style="margin-right: 1rem;">Total Candidates:</span>
                            <span style="margin-right: 1rem;">{{ total_count_profile }}</span>
                        </div>
                        <div class="flex-display vertical-align space-between" style="width: 100%;; margin-bottom: 0.5rem;">
                            <span style="margin-right: 1rem;">Total Resumes:</span>
                            <span style="margin-right: 1rem;">{{ total_count_resume }}</span>
                        </div>
                        <div class="flex-display vertical-align space-between" style="width: 100%;">
                            <span style="margin-right: 1rem;">Shown Count:</span>
                            <span style="margin-right: 1rem;">{{ selected_count }}</span>
                        </div>
                    </div>
                    <div style="height: 125px; border-right: 1px solid rgba(0,0,0,.1); margin-right: 1rem; margin-left: 1rem;"></div>
                    <div style="width: 100%;">
                        <div class="flex-display vertical-align space-between" style="width: 100%;">
                            <input style="border-bottom: 1px solid var(--ui-support-element-color); margin-right: 1rem;" type="text" class="text-input" name="q" value="{{ query }}" placeholder="Search candidates..." />
                            <div class="flex-display vertical-align">
                                <button style="width: 60px;" class="button" type="submit">Search</button>
                                <div style="margin-left: 0.5rem;" class="flex-display vertical-align justify-center">
                                    <a style="width: 60px; text-align: center" href="{% url 'candidate-search' %}" class="button">Clear</a>
                                </div>
                                <div style="width: auto; margin-left: 0.5rem;" class="flex-display vertical-align justify-center">
                                    <a style="width: 60px; text-align: center" href="{% url 'candidate-search' %}?q=all" class="button">All</a>
                                </div>
                            </div>
                        </div>
                        <div class="flex-display vertical-align space-between" style="margin-top: 1rem;">
                            <div class="flex-display column align-baseline">
                                {% include 'red_shell_recruiting/components/candidate_search_toggle_section.html' %}
                            </div>
                            <div style="height: 75px; border-right: 1px solid rgba(0,0,0,.1); margin-right: 1rem;"></div>
                            {% include 'red_shell_recruiting/components/candidate_search_dropdowns.html' %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        {% if candidates %}
            <div class="flex-display flex-wrap" style="gap: 2rem;">
                {% for candidate in candidates %}
                    {% include 'red_shell_recruiting/components/candidate_card.html' with candidate=candidate %}
                {% endfor %}
            </div>
        {% else %}
            {% if query %}
                <p>No results found.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
