{% extends '_base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    Candidate Search
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}?n={% css_invalidate_int %}">
{% endblock %}
{% block content %}
    <div>
        <div class="" style="margin: 0 auto; width: 100%; padding: 1rem;">
            <form id="candidate-search-form" style="width: 100%;">
                <div class="section  vertical-align">
                    <div class="" style="width: 100%;">
                        <div class="flex-display space-between" style="border-right: 1px solid rgba(0,0,0,.1);">
                            <span style="margin-right: 1rem;">Total Candidates: <span id="total-count-profile">{{ total_count_profile }}</span></span>
                            <span style="margin-right: 1rem;">Total Resumes: <span id="total-count-resume">{{ total_count_resume }}</span></span>
                        </div>
                        <hr>
                        <div>
                            <div>
                                <div class="flex-display column vertical-align">
                                    <input type="text" class="text-input" name="q" id="search-q" value="{{ query|default_if_none:"" }}" placeholder="Search candidates..." style="border-bottom: 1px solid var(--ui-support-element-color); width: 100%; margin-bottom: 1rem;" />
                                    <div class="flex-display vertical-align justify-center" style="gap: 0.5rem; width: 100%; margin-bottom: 0.5rem;">
                                        <button class="button font-responsive" type="button" id="search-btn" style="min-width: 100px; width: 50%; height: 40px; text-align: center">Search</button>
                                        <a class="button font-responsive" href="#" id="all-btn" style="line-height: 30px; height: 40px; min-width: 100px; width: 50%; text-align: center">All</a>
                                    </div>
                                    <a class="button font-responsive" href="#" id="clear-btn" style="line-height: 30px; height: 40px; text-align: center; width: 100%">Clear</a>
                                </div>
                            </div>
                            <hr>
                            <div class="" style="margin-top: 1rem;">
                                {% include 'red_shell_recruiting/components/candidate_search_toggle_section.html' %}
                            </div>
                            <hr>
                            {% include 'red_shell_recruiting/components/candidate_search_dropdowns.html' %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div id="candidate-results-container" class="flex-display col flex-wrap" style="gap: 2rem;"></div>
        <div id="loading-indicator" style="display:none; text-align:center; margin:1rem;">Loading more candidates...</div>
        {% if not candidates and query %}
            <p>No results found.</p>
        {% endif %}
    </div>
    <script src="{% static 'js/search.js' %}"></script>
{% endblock %
