{% extends '_base.html' %}
{% load static %}
{% load filters %}
{% load tags %}
{% block title %}
    Edit Candidate
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}?n={% css_invalidate_int %}">
    <link rel="stylesheet" href="{% static 'css/mobile/daterangepicker.css' %}">
{% endblock %}
{% block content %}
    <div class="messages"></div>
    <div id="candidate-view-mode">
        <div style="width: 100%; position: relative">
            <div class="section" style="margin-bottom: 1rem;">
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">First Name</span>
                    <input type="text" value="{{ candidate.first_name }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Last Name</span>
                    <input type="text" value="{{ candidate.last_name }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">State</span>
                    <input type="text" value="{{ candidate.state }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">City</span>
                    <input type="text" value="{{ candidate.city }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Job Title</span>
                    <input type="text" value="{{ candidate.title.display_name }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
            </div>
            <hr>
            <div class="section" style="margin-bottom: 1rem;">
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Phone Number</span>
                    <input type="tel" value="{{ candidate.phone_number }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Email</span>
                    <input type="email" value="{{ candidate.email }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Compensation range</span>
                    <div class="flex-display">
                        <input type="text" value="{{ candidate.compensation_from }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color); margin-right: 1rem;" disabled>
                        <input type="text" value="{{ candidate.compensation_to }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                    </div>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Ownership</span>
                    <input type="text" value="{{ candidate.ownership.display_name }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Source</span>
                    <input type="text" value="{{ candidate.source.display_name }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)" disabled>
                </div>
                <hr>
                {% include 'red_shell_recruiting/components/candidate_linked_in_url.html' %}
            </div>
            <hr>
            <div class="section column grid-cols-2 gap-2 toggle-container toggle-container">
                <div class="flex-display vertical-align space-between" style="width: 9.375rem;">
                    <h4 style="margin-right: 0.5rem; color: var(--theme-base-color); opacity: 0.7;">Actively Looking</h4>
                    {% include 'red_shell_recruiting/components/success_fail_component.html' with value=candidate.actively_looking %}
                </div>
                <div class="flex-display vertical-align space-between" style="width: 9.375rem;">
                    <h4 style="margin-right: 0.5rem; color: var(--theme-base-color); opacity: 0.7;">Open to Relocation</h4>
                    {% include 'red_shell_recruiting/components/success_fail_component.html' with value=candidate.open_to_relocation %}
                </div>
                <div class="flex-display vertical-align space-between" style="width: 9.375rem;">
                    <h4 style="margin-right: 0.5rem; color: var(--theme-base-color); opacity: 0.7;">Currently Working</h4>
                    {% include 'red_shell_recruiting/components/success_fail_component.html' with value=candidate.currently_working %}
                </div>
            </div>
            <hr>
            <div class="section" style="margin-bottom: 1rem;">
                <span style="color: var(--faded-gray-color)" class="small-title">Entry Notes</span>
                {% if user|in_groups:"Site Admin" or user.is_superuser or user|has_perm:required_permission %}
                    <textarea name="candidate-notes" class="text-input" placeholder="Entry Notes" style="border: 0.0625rem solid var(--ui-support-element-color); height: 12.5rem; padding: 0.5rem;">{{ candidate.entry_notes }}</textarea>
                {% else %}
                    <textarea class="text-input" style="border: 0.0625rem solid var(--ui-support-element-color); height: 12.5rem; padding: 0.5rem;" disabled>{{ candidate.entry_notes }}</textarea>
                {% endif %}
            </div>
            <hr>
            <div class="flex-display flex-end" style="width: 100%; margin-bottom: 1rem;">
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='green' text='Edit Candidate' extra_class='flex-display vertical-align justify-center' style='width: 100%;' id='edit-button' %}
            </div>
        </div>
    </div>
    <hr>
    <div id="candidate-edit-mode" style="display: none;">
        <form method="post">
            {% csrf_token %}
            <div class="section">
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">First Name</span>
                    <input type="text" name="candidate-first_name" class="text-input" placeholder="First Name" value="{{ candidate.first_name }}" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)">
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Last Name</span>
                    <input type="text" name="candidate-last_name" class="text-input" placeholder="Last Name" value="{{ candidate.last_name }}" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)">
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">State</span>
                    {% include 'red_shell_recruiting/components/state_dropdown_component.html' %}
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">City</span>
                    {% include 'red_shell_recruiting/components/city_dropdown_component.html' %}
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Job Title</span>
                    {% include 'red_shell_recruiting/components/title_dropdown_component.html' with selected_title=candidate.title %}
                </div>
            </div>
            <hr>
            <div class="section">
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Phone Number</span>
                    <input type="tel" name="candidate-phone_number" class="text-input" placeholder="Phone Number" value="{{ candidate.phone_number }}" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)">
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Email</span>
                    <input type="email" name="candidate-email" class="text-input" placeholder="Email" value="{{ candidate.email }}" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)">
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Compensation range</span>
                    <div class="flex-display">
                        <input type="text" name="candidate-compensation-from" value="{{ candidate.compensation_from }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color); margin-right: 1rem;">
                        <input type="text" name="candidate-compensation-to" value="{{ candidate.compensation_to }}" class="text-input" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)">
                    </div>
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Ownership</span>
                    {% if user|in_groups:"Site Admin" or user.is_superuser or user|has_perm:required_permission %}
                        {% include 'red_shell_recruiting/components/ownership_dropdown_component.html' with selected_owner=candidate.ownership %}
                    {% else %}
                        {% include 'red_shell_recruiting/components/ownership_dropdown_component.html' with selected_owner=candidate.ownership disabled=True %}
                    {% endif %}
                </div>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Source</span>
                    {% include 'red_shell_recruiting/components/source_dropdown_component.html' with selected_source=candidate.source %}
                </div>
                <hr>
                <div>
                    <span style="color: var(--faded-gray-color)" class="small-title">Linkedin URL</span>
                    <input type="text" name="candidate-linkedin-url" class="text-input" placeholder="Linkedin URL" value="{{ candidate.linkedin_url|default_if_none:"" }}" style="border-bottom: 0.0625rem solid var(--ui-support-element-color)">
                </div>
            </div>
            <hr>
            <div class="grid-cols-2 gap-2 section toggle-container" style="margin-top: 1rem; margin-bottom: 1rem;">
                <label class="toggle flex-display vertical-align align-start" style="margin-bottom: 1rem;">
                    <input name="candidate-actively-looking" id="candidate-looking" class="toggle-checkbox" type="checkbox" {% if candidate.actively_looking %}checked{% endif %}>
                    <div class="toggle-switch"></div>
                    <span>Actively Looking</span>
                </label>
                <label class="toggle flex-display vertical-align align-start" style="margin-bottom: 1rem;">
                    <input name="candidate-open-to-relocation" id="candidate-relocation" class="toggle-checkbox" type="checkbox" {% if candidate.open_to_relocation %}checked{% endif %}>
                    <div class="toggle-switch"></div>
                    <span>Open to Relocation</span>
                </label>
                <label class="toggle flex-display vertical-align align-start" style="margin-bottom: 1rem;">
                    <input name="candidate-currently-working" id="candidate-working" class="toggle-checkbox" type="checkbox" {% if candidate.currently_working %}checked{% endif %}>
                    <div class="toggle-switch"></div>
                    <span>Currently Working</span>
                </label>
            </div>
            <hr>
            <div class="section">
                <textarea name="candidate-notes" class="text-input" placeholder="Entry Notes" style="border: 0.0625rem solid var(--ui-support-element-color); height: 12.5rem; padding: 0.5rem;">{{ candidate.entry_notes }}</textarea>
            </div>
            <hr>
            <div style="width: 100%" class="flex-display vertical-align justify-center space-between">
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='red' text='Cancel' style=' width: 9.375rem;' id='cancel-button' %}
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='submit' color='green' text='Save Changes' extra_class='flex-display vertical-align justify-center' style=' width: 9.375rem;' %}
            </div>
            <hr>
        </form>
    </div>
    <div class="section" style="margin-bottom: 1rem;">
        <div class="flex-display vertical-align">
            <h3 style="color: var(--faded-gray-color)" class="small-title">Placement Records</h3>
        </div>
        <div class="placement-messages messages" style="margin-top: 1rem;"></div>
        <hr>
        <div style="flex: 1;">
            <div id="placement-entry-fields" class="placement-mobile-fields" style="width: 100%; margin-top: 1rem;">
                <div style="width: 100%;">
                    <div style="margin-bottom: 0.5rem;">
                        <h3 style="color: var(--faded-gray-color)" class="small-title">Client</h3>
                        {% include 'red_shell_recruiting/components/candidate_placement_dropdown_component.html' with selected_placement=None name='placement-client' id_suffix='placement-records' all_placements=all_placements %}
                    </div>
                    <div class="placement-mobile-full">
{#                        <h3 style="color: var(--faded-gray-color)" class="small-title">Placement Date</h3>#}
                        {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' text='Select date' id='placement-date' name='placement_date' required=True style='width:100%;' %}
                    </div>
                    <div class="placement-mobile-full">
                        <h3 style="color: var(--faded-gray-color)" class="small-title">Compensation</h3>
                        <input type="number" id="placement-compensation" class="text-input" placeholder="-"  style="border-bottom: 0.0625rem solid var(--ui-support-element-color); width: 100%">
                    </div>
                </div>
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='green' text='Add Placement' extra_class='button green' style='width: 100%; margin-top: 1rem;' id='add-placement-record-btn' %}
            </div>
            <div id="placement-records-list" style="margin-top: 1rem;"></div>
        </div>
    </div>
    <hr>
    <div class="section" style="margin-bottom: 1rem;">
        <div class="flex-display vertical-align">
            <h3 style="color: var(--faded-gray-color)" class="small-title">Journal Entries</h3>
        </div>
        <div class="journal-messages messages" style="margin-top: 1rem;"></div>
        <hr>
        <div style="flex: 1;">
            <div id="journal-entry-fields" class="journal-mobile-fields" style="width: 100%; margin-bottom: 1rem;">
                <div style="width: 100%;">
                    <div style="margin-bottom: 1rem;">
                        <textarea id="journal-notes" style="border: 0.0625rem solid var(--ui-support-element-color); width: 100%; height: 12.5rem; padding: 0.5rem;" name="notes" class="text-input" placeholder="Meeting notes..."></textarea>
                    </div>
                </div>
                <div style="margin-bottom: 1rem;">
                    {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' text='Select date' id='journal-meeting-date' name='meeting_date' required=True style='width:100%; ' %}
                </div>
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='green' text='Add Journal Entry' extra_class='button green ' style=' width: 100%;' id='add-journal-entry-btn' %}
            </div>
            <hr>
            <div id="journal-entries-list" style="margin-top: 1rem;"></div>
        </div>
    </div>
    <hr>
    <div class="section-group">
        <div class="section" style="margin-bottom: 1rem;">
            <div class="section-title">Resumes</div>
            <hr>
            <ul class="section-list">
                {% for resume in resumes %}
                    <li class="section-list-item{% if not forloop.first %} section-list-item-border{% endif %}">
                        <a href="{{ resume.get_signed_url }}" download>{{ resume.file.name|filename }}</a>
                        <form method="post" action="{% url 'archive-resume' resume.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button class="button" type="submit" style="margin-left: 0.5rem; padding: 0;">
                                <div style="position: relative; top: 0.125rem">
                                    {% include 'red_shell_recruiting/components/svg_components.html' with type='close' %}
                                </div>
                            </button>
                        </form>
                    </li>
                {% empty %}
                    <li class="small-title" style="opacity: 0.6">No resumes uploaded yet.</li>
                {% endfor %}
            </ul>
            <hr>
            <div class="section-actions">
                <input required type="file" id="candidate-resume" name="candidate_resume" accept=".pdf, .doc, .docx">
                <button id="trigger-resume-upload" class="button flex-display vertical-align space-between" style="">
                    <span>Attach Resume</span>
                </button>
                <div class="file-name ellipsis" id="file-name"></div>
                {% with button_type='button' button_color='green' button_text='Upload' button_extra_class='button green flex-display vertical-align space-between' button_style='display:none; margin-left: 1rem; ' button_id='add-resume-button' %}
                    {% include 'red_shell_recruiting/components/candidate_button.html' with type=button_type color=button_color text=button_text extra_class=button_extra_class style=button_style id=button_id %}
                {% endwith %}
            </div>
        </div>
        <hr>
        <div class="section" style="margin-bottom: 1rem;">
            <div class="section-title">Culinary Portfolios</div>
            <hr>
            <ul class="section-list">
                {% for portfolio in portfolios %}
                    <li class="section-list-item{% if not forloop.first %} section-list-item-border{% endif %}">
                        <a href="{{ portfolio.get_signed_url }}" download>{{ portfolio.file.name|filename }}</a>
                        <form method="post" action="{% url 'archive-culinary-portfolio' portfolio.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button class="button" type="submit" style="margin-left: 0.5rem; padding: 0;">
                                <div style="position: relative; top: 0.125rem">
                                    {% include 'red_shell_recruiting/components/svg_components.html' with type='close' %}
                                </div>
                            </button>
                        </form>
                    </li>
                {% empty %}
                    <li class="small-title" style="opacity: 0.6">No portfolios uploaded yet.</li>
                {% endfor %}
            </ul>
            <hr>
            <div class="section-actions">
                <input type="file" id="candidate-culinary-portfolio" name="candidate_culinary_portfolio" accept=".pdf, .doc, .docx">
                <button id="trigger-portfolio-upload" class="button flex-display vertical-align space-between" style="">
                    <span>Attach Portfolio</span>
                </button>
                <div class="file-name ellipsis" id="portfolio-file-name"></div>
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='green' text='Upload' extra_class='button green flex-display vertical-align space-between' style='display:none; margin-left: 1rem; ' id='add-portfolio-button' %}
            </div>
        </div>
        <hr>
        <div class="section">
            <div class="section-title">Documents</div>
            <hr>
            <ul class="section-list">
                {% for document in documents %}
                    <li class="section-list-item{% if not forloop.first %} section-list-item-border{% endif %}">
                        <a href="{{ document.get_signed_url }}" download>{{ document.file.name|filename }}</a>
                        <form method="post" action="{% url 'archive-document' document.id %}" style="display: inline;">
                            {% csrf_token %}
                            <button class="button" type="submit" style="margin-left: 0.5rem; padding: 0;">
                                <div style="position: relative; top: 0.125rem">
                                    {% include 'red_shell_recruiting/components/svg_components.html' with type='close' %}
                                </div>
                            </button>
                        </form>
                    </li>
                {% empty %}
                    <li class="small-title" style="opacity: 0.6">No document uploaded yet.</li>
                {% endfor %}
            </ul>
            <hr>
            <div class="section-actions">
                <input type="file" id="candidate-document" name="candidate_document" accept=".pdf,.doc,.docx">
                <button type="button" id="trigger-document-upload" class="button flex-display vertical-align space-between" style="">
                    <span style="margin-left: 0.1875rem;">Attach Document</span>
                </button>
                <div class="file-name ellipsis" id="document-file-name"></div>
                {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='green' text='Upload' extra_class='button green flex-display vertical-align space-between' style='display: none; margin-left: 1rem; ' id='add-document-button' %}
            </div>
        </div>
    </div>
    <script src="{% static 'js/candidate_edit_save.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script>

        const clientPlacementListUrl = "{% url 'client-placement-list' %}";
        const uploadCulinaryPortfolioUrl = "{% url 'upload-culinary-portfolio' candidate.id %}";
        const uploadResumeUrl = "{% url 'upload-resume' candidate.id %}";
        const uploadDocumentUrl = "{% url 'upload-document' candidate.id %}";
        const placementRecordsUrl = "{% url 'placement-records' candidate.id %}";
        const journalEntryUrl = '{% url "journal-entries" candidate.id %}';

        $(document).ready(function () {

            // TOGGLE TO EDIT MODE
            $('#edit-button').on('click', function () {
                $('#candidate-view-mode').hide();
                $('#candidate-edit-mode').show();
                $('#state-hidden').val('{{ candidate.state }}');
                $('#city-hidden').val('{{ candidate.city }}');
                $('#state-dropdown').text('{{ candidate.state }}');
                $('#city-dropdown').text('{{ candidate.city }}');
                $('#city-dropdown-wrapper').show();
            });

            // Add mobile-vertical class to daterangepicker on mobile
            if (window.matchMedia('(max-width: 600px)').matches) {
                $(document).on('DOMNodeInserted', function(e) {
                    if ($(e.target).hasClass('daterangepicker')) {
                        $(e.target).addClass('mobile-vertical');
                    }
                });
            }

            // Add mobile-vertical class to daterangepicker on mobile
            $(document).on('DOMNodeInserted', function(e) {
                var $drp = $(e.target);
                if ($drp.hasClass('daterangepicker')) {
                    $drp.addClass('mobile-vertical');
                }
            });

        });
    </script>
{% endblock %}
