{% extends '_base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    Candidate Input
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}?n={% css_invalidate_int %}">
    <link rel="stylesheet" href="{% static 'css/daterangepicker.css' %}">
{% endblock %}
{% block content %}
    <div style="max-width:62.5rem; width: 50%; margin: 0 auto; margin-top: 4rem;">
        <form class="section" action="{% url 'candidate-submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin-bottom: 1rem">
                <h1>Enter Candidate</h1>
                <hr>
            </div>
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show flex-display space-between vertical-align" role="alert" style="width: 100%;">
                        <span class="message-text">{{ message }}</span>
                        {% include 'red_shell_recruiting/components/candidate_close_button.html' %}
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="field-set flex-display" style="column-gap: 2rem">
                <div style="width: 50%; margin-bottom: 1rem; position: relative">
                    {% include 'red_shell_recruiting/components/candidate_input_section_one.html' %}
                </div>
                <div style="width: 50%; margin-bottom: 1rem">
                    {% include 'red_shell_recruiting/components/candidate_input_section_two.html' %}
                </div>
            </div>
            <textarea tabindex="11" name="candidate-notes" style="border: 0.0625rem solid var(--ui-support-element-color); height: 12.5rem; padding: 0.5rem;" class="text-input" id="candidate-notes" type="text" placeholder="Entry Notes" autocomplete="off"></textarea>
            <hr>
            <div class="flex-display space-between">
                {% include 'red_shell_recruiting/components/candidate_input_resume.html' %}
            </div>
        </form>
    </div>
{% endblock %}
{% block extra-js %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/daterangepicker.js' %}"></script>
    <script>
        $(document).ready(function() {
            SubmitCandidate();
        });
    </script>
{% endblock %}
