{% extends '_base.html' %}
{% load static %}
{% load tags %}
{% block title %}
    Candidate Input
{% endblock %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}?n={% css_invalidate_int %}">
{% endblock %}
{% block content %}
    <div style="max-width:1000px; width: 100%; margin: 0 auto; margin-top: 1rem;">
        <form class="section" action="{% url 'candidate-submit' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="margin-bottom: 1rem">
                <h1>Enter Candidate</h1>
                <hr>
            </div>
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }} alert-dismissible fade show flex-display space-between vertical-align" role="alert" style="width: 100%;">
                        <span class="message-text">{{ message }}</span>
                        <span class="custom-close" style="cursor: pointer;">
                            {% include 'red_shell_recruiting/components/svg_components.html' with type='close' %}
                        </span>
                    </div>
                {% endfor %}
            </div>
            <br>
            <div class="field-set">
                <div style="width: 100%; margin-bottom: 1rem; position: relative">
                    {% include 'red_shell_recruiting/components/candidate_input_section_one.html' %}
                </div>
                <div style="width: 100%; margin-bottom: 1rem">
                    {% include 'red_shell_recruiting/components/candidate_input_section_two.html' %}
                </div>
            </div>
            <textarea tabindex="8" name="candidate-notes" style="border: 1px solid var(--ui-support-element-color); height: 200px; padding: 0.5rem;" class="text-input" id="candidate-notes" type="text" placeholder="Notes" autocomplete="off"></textarea>
            <hr>
            <div class="flex-display space-between vertical-align space-between" style="width: 100%">
                {% include 'red_shell_recruiting/components/candidate_input_resume.html' %}
            </div>
        </form>
    </div>
    <script>

        $(document).ready(function() {
            SubmitCandidate();
        });

    </script>
{% endblock %}
