{% extends '_base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <form id="change-password" class="section" method="post">
        <h2>Change Your Password </h2>
        <hr>
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        <table>
            {% for field in form.visible_fields %}
                <div class="form-group fieldWrapper flex-display space-between vertical-align">
                    {{ field.errors }}
                    {{ field.label_tag }}{{ field }}
                </div>
                <div style="margin-bottom: 1rem;">
                    <small id="passwordHelpBlock" class="form-text text-muted">{{ field.help_text }}</small>
                </div>
            {% endfor %}
        </table>
        <hr>
        <button class="button large" style="font-size: 18px" type="submit">Save changes</button>
    </form>
{% endblock %}
