{% extends '_base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}
    <h2>Change Your Password </h2>
    <form method="post">
      {% csrf_token %}
        {{ form.non_field_errors }}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
        <table>
        {% for field in form.visible_fields %}
            <div class="form-group fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }}{{ field }}
                <small id="passwordHelpBlock" class="form-text text-muted">{{ field.help_text }}</small>
            </div>
        {% endfor %}
        </table>
      <button class="btn btn-lg btn-primary" type="submit">Save changes</button>
    </form>
{% endblock %}
