{% load static %}
{% block css-extra %}
    <link rel="stylesheet" href="{% static 'css/common.css' %}" crossorigin="anonymous">
{% endblock %}
{% block content %}
    <div style="height: 100vh; display: flex; align-items: center; justify-content: center;">
        <div class="section center-frame flex-display column  justify-center vertical-align" style="max-width: 600px;">
            {% if permission_error %}
                {% include 'service/components/page_banner_component.html' with banner_type='error' banner_text=permission_error %}
            {% endif %}
            <span>(403) Permission Denied</span>
        </div>
    </div>
{% endblock %}
