<footer class="footer">
    <div class="footer-row">
        <div class="footer__separator">© 2025 Red Shell Recruiting. All rights reserved.</div>
        <div class="footer__separator">Owned and operated by Nomad Recruiting</div>
    </div>
    <div class="footer-row">
        <div class="footer__separator">
            <a href="{% url 'privacy-policy' %}">Privacy Policy</a>
        </div>
        <div>
            <a href="{% url 'terms-of-service' %}">Terms of Service</a>
        </div>
    </div>
</footer>
