<div class="flex-display vertical-align" style="margin-right:3rem;">
    <input required style="display: none;" type="file" id="resume" name="candidate_resume" accept=".pdf, .doc, .docx">
    <div class="vertical-divider" style="height: var(--std-item-height)"></div>
    <button type="button" class="button" onclick="document.getElementById('resume').click();">Upload Resume</button>
    <div style="margin-left: 1rem;" id="file-name"></div>
    <div id="resume-warning" style="display:none; color:red; margin-top:5px;">Please upload a resume before submitting.</div>
</div>
<button id="submit-btn" type="submit" class="button">Submit Candidate</button>
