{% load filters %}
{% load tags %}
<input required tabindex="6" name="candidate-phone-number" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-phone-number" type="tel" placeholder="Phone Number" autocomplete="off">
<input required tabindex="7" name="candidate-email" style="border-bottom: 1px solid var(--ui-support-element-color)"  class="text-input" id="candidate-email" type="email" placeholder="Email" autocomplete="off">
<div tabindex="5">
    {% include 'red_shell_recruiting/components/ownership_dropdown_component.html' %}
</div>
<div tabindex="4">
    {% include 'red_shell_recruiting/components/title_dropdown_component.html' %}
</div>
<div tabindex="4">
    {% include 'red_shell_recruiting/components/source_dropdown_component.html' %}
</div>
<div class="grid grid-cols-2 gap-2">
    <label class="toggle flex-display vertical-align align-start">
        <input name="candidate-looking" id="candidate-looking" class="toggle-checkbox" type="checkbox">
        <div class="toggle-switch"></div>
        <span>Actively Looking</span>
    </label>
    <label class="toggle flex-display vertical-align align-start">
        <input name="candidate-relocation" id="candidate-relocation" class="toggle-checkbox" type="checkbox">
        <div class="toggle-switch"></div>
        <span>Open to relocation</span>
    </label>
    <label class="toggle flex-display vertical-align align-start">
        <input name="candidate-working" id="candidate-working" class="toggle-checkbox" type="checkbox">
        <div class="toggle-switch"></div>
        <span>Currently working</span>
    </label>
    <label class="toggle flex-display vertical-align align-start">
        <input name="client-placement" id="client-placement" class="toggle-checkbox" type="checkbox">
        <div class="toggle-switch"></div>
        <span>Previously Placed</span>
    </label>
</div>
<br>
<div id="client-placement-toggle-wrapper" style="display: none;" class="flex-display column w-100">
    <div style="margin-bottom: 1rem;">
        {% include 'red_shell_recruiting/components/candidate_placement_dropdown_component.html' with selected_placement=None name='client-placement-id' id_suffix='placement-records' all_placements=all_placements %}
    </div>
    <div class="flex-display vertical-align justify-center" style="margin-bottom: 1rem;">
        {% include 'red_shell_recruiting/components/month_dropdown_component.html' with selected_month=None name='client-placement-month' %}
        {% with year_range=1990|get_range:2027 %}
            {% include 'red_shell_recruiting/components/year_dropdown_component.html' with selected_year=None name='client-placement-year' year_range=year_range %}
        {% endwith %}
    </div>
    <input type="number" id="client-placement-compensation" name="client-placement-compensation" class="text-input" placeholder="Compensation" style="width: 100%; border-bottom: 1px solid var(--ui-support-element-color);">
</div>
