{% load tags %}
<button type="{{ type|default:'button' }}" class="button flex-display vertical-align justify-center{% if color %} {{ color }}{% endif %}{% if extra_class %} {{ extra_class }}{% endif %}"{% if style %} style="{{ style }}"{% endif %}{% if id %} id="{{ id }}"{% endif %}>
    {% if icon %}
        <span class="button-icon">
            {% if icon == 'close' %}
                {% if icon_size == 'large' %}
                    {% include 'red_shell_recruiting/components/svg_components.html' with type='close-large' %}
                {% else %}
                    {% include 'red_shell_recruiting/components/svg_components.html' with type='close' %}
                {% endif %}
            {% else %}
                {% include 'red_shell_recruiting/components/svg_components.html' with type=icon %}
            {% endif %}
        </span>
    {% endif %}
    <span class="button-text" style="{% if request.is_mobile %}font-size: 18px{% else %}font-size: 12px{% endif %}">{{ text }}</span>
</button>
