{% load static %}
{% load tags %}
<hr>
<ul class="placement-records-list">
    {% for placement in placements %}
        {% if request.is_mobile %}
            <li style="margin-bottom: 1rem; flex-direction: column; align-items: flex-start;" class="flex-display vertical-align" data-placement-history-id="{{ placement.id }}">
                <div class="flex-display vertical-align" style="width: 100%; justify-content: space-between;">
                    <span class="placement-remove-btn" style="margin-right: 1rem;">
                        {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='' text='' icon='close' icon_size='large' extra_class='remove-placement' style='padding:7px' %}
                    </span>
                    <div class="flex-display vertical-align space-between" style="font-size: 16px;">
                        <span style="margin-right: 1rem;">{{ placement.placement.display_name }} - {{ placement.month }}/{{ placement.year }}</span>
                        <span style="font-weight: bold;">${{ placement.compensation }}</span>
                    </div>
                </div>
            </li>
        {% else %}
            <li style="margin-bottom: 1rem;" class="placement-item flex-display vertical-align space-between" data-placement-history-id="{{ placement.id }}">
                <div class="flex-display vertical-align">
                    <div class="flex-display column">
                        <span class="small-title">Client</span>
                        <span style="width: 100px; font-size:12px;">{{ placement.placement.display_name }}</span>
                    </div>
                    <div class="flex-display column">
                        <span class="small-title">When</span>
                        <span style="width: 100px; font-size:12px">{{ placement.month }}/{{ placement.year }}</span>
                    </div>
                    <div class="flex-display column">
                        <span class="small-title">Compensation</span>
                        <span style="width: 100px; font-size:12px">${{ placement.compensation }}</span>
                    </div>
                </div>
                <span class="placement-remove-btn" style="margin-right: 1rem;">
                    {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='red' text='Remove' extra_class='remove-placement' %}
                </span>
            </li>
        {% endif %}
    {% empty %}
        <li>No placement records found.</li>
    {% endfor %}
</ul>
