{% load static %}
{% load tags %}
<ul class="placement-records-list">
    {% for placement in placements %}
        <li style="margin-bottom: 1rem;" class="flex-display vertical-align" data-placement-history-id="{{ placement.id }}">
            <span class="placement-remove-btn" style="margin-right: 1rem;">
                {% with icon_size=request.is_mobile|yesno:'large,' style=request.is_mobile|yesno:'padding:7px,padding:0px' %}
                    {% include 'red_shell_recruiting/components/candidate_button.html' with type='button' color='' text='' icon='close' icon_size=icon_size extra_class='remove-placement' style=style %}
                {% endwith %}
            </span>
            <div class="flex-display vertical-align">
                <span style="width: 200px; font-size:{% if request.is_mobile %}16px{% else %}12px{% endif %}">{{ placement.placement.display_name }}</span>
                <span style="width: 100px; font-size:{% if request.is_mobile %}16px{% else %}12px{% endif %}">{{ placement.month }}/{{ placement.year }}</span>
                <span style="width: 100px; font-size:{% if request.is_mobile %}16px{% else %}12px{% endif %}">${{ placement.compensation }}</span>
            </div>
        </li>
    {% empty %}
        <li>No placement records found.</li>
    {% endfor %}
</ul>
