<div class="custom-dropdown" style="border-bottom: 1px solid var(--ui-support-element-color); margin-bottom: 1rem;" id="candidate-source-dropdown-wrapper">
    <div class="flex-display space-between">
        <div class="selected-option" id="candidate-source-dropdown">
            {{ selected_source.display_name|default:"Select a Source" }}
        </div>
        <span class="chevron-down">
            {% include 'red_shell_recruiting/components/svg_components.html' with type='chevron-down' %}
        </span>
        <span class="chevron-up" style="display: none;">
            {% include 'red_shell_recruiting/components/svg_components.html' with type='chevron-up' %}
        </span>
    </div>
    <ul class="dropdown-list" id="candidate-source-list">
        {% for source in all_sources %}
            <li class="option {% if selected_source and selected_source.id == source.id %}selected{% endif %}" data-value="{{ source.id }}">{{ source.display_name }}</li>
        {% endfor %}
    </ul>
    <input type="hidden" name="candidate-source-id" id="candidate-source-hidden" value="{{ selected_source.id|default:'' }}">
</div>
